@media (max-width:600px) {
  html{
    width:auto;
    height:auto;
  }
  nav-img{
    width:13em;
    height:4em;
    text-align: center;
   }
 .main-nav{
  text-align: center;
  position:  center;
   width:120px;
   height:87px;
 }
  .page-header{
    width:auto;
   height:40px;
     text-align:center;
   align-items: center;
    position: center
  }
 nav{
  width:230px;
 }
 html{
  height:250px;
  width:260px;
 }
 h1{
   font-size:77px;
  top:73px;
  left: -40px;
 }
 q{
  font-size:99px;
 }
 .a1{
  visibility: visible;
 }
.a2{
 visibility: visible;
}
 .a3{
  visibility: visible;
 }
 .a4{
  visibility: visible;
 }
 .a5{
  visibility: visible;
 }
 #Home{
  visibility:visible;
    width: 290px;
   height: 318px;
   display: flex;
 }
 #Scratch{
  visibility:visible;
     width: 290px;
   height: 318px;
   display: flex;
 }
 #Twitter{
  visibility:visible;
    width: 290px;
   height: 318px;
   display: flex;
 }
 #Maze{
  visibility:visible;
    width: 290px;
   height: 318px;
   display: flex;
 }
 #search{
  visibility:visible;
    width: 290px;
   height: 318px;
   display:flex;
 }
  
  .class1{
    top:90px;
  }
  .class2{
    top:140px;
  }
  .button{
    margin: center
  }
}

.class1{
  width: 47px;
  height: 50px;
  position: absolute;
  top: 45%;
  left: 45%;
  margin: -25px 0 0 -25px;
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  font-family: 'Noto Sans JP' sans-serif;
}
html{
 background: white;
  height:auto;
}
img{
 width: 3em;
height: 3em;
}
.class2 {
  width: 850px;
  height: 50px;
  position: absolute;
  top: 56%;
  left:15%;
  margin: -25px 0 0 -25px;
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
 
@keyframes slideIn {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,100% {
    opacity: 1;
  }
}

.page-header{
  background: white;
  border-bottom: solid 1px gray;
  position: block;
 display: flex;
   width:auto;
 justify-content: space-between;
}
  .a1{
  text-decoration: none;
    color: black;
    list-style: none;
}
.a2{
  text-decoration: none;
  color: black;
  list-style: none;
}
 .a3{
  text-decoration: none;
    color: black;
    list-style: none;
}
.a4{
  text-decoration: none;
  color: black;
  list-style: none;
}
  .a5{
  text-decoration: none;
  color: black;
  list-style: none;
}
  h1{
    font-size:40px;
    top:34%;
  }
.button{
  background: skyblue;
 color: white;
 width: 150px;
  height: 50px;
  position: absolute;
  text-align: center;
 padding: 25px;
  top: 23%;
  right:10em;
 border-radius: 12px;
}
#Home{
 width: 19px;
 height: 29px;
 visibility:visible;
  border-radius: 24px;
}
#Scratch{
 width:24px;
 height: 26px;
 visibility:visible;
  border-radius: 24px;
}

#Twitter{
 width: 25px;
 height:29px;
 visibility:visible;
  border-radius: 24px;
}
#Maze{
 width:12px;
 height:17px;
 visibility:visible;
  border-radius: 24px;
}
#search{
 width:17px;
 height:19px;
 visibility:visible;
  border-radius: 24px;
}
