@media (max-width:600px) {
  nav-img{
    width:1200px;
    height:1070px;
    text-align: center;
   }
 .main-nav{
  text-align: left;
  position:  left;
  width:120px;
  height:87px;
 }
  .page-header{
    width:600px;
  height:250px;
     flex-direction: column;
   align-items: center;
  }
 nav{
  width:230px;
 }
 html{
  height:250px;
  width:260px;
 }
 h1{
   font-size:77px;
  top:73px;
  left: -40px;
 }
 q{
  font-size:99px;
 }
 .a1{
  visibility: hidden;
 }
.a2{
 visibility: hidden;
}
 .a3{
  visibility: hidden;
 }
 .a4{
  visibility: hidden;
 }
 .a5{
  visibility: hidden;
 }
 #Home{
  visibility:visible;
    width: 290px;
   height: 318px;
   display:flex;
 }
 #Scratch{
  visibility:visible;
     width: 290px;
   height: 318px;
   display:flex;
 }
 #Twitter{
  visibility:visible;
    width: 290px;
   height: 318px;
   display:flex;
 }
 #Maze{
  visibility:visible;
    width: 290px;
   height: 318px;
   display:flex;
 }
 #search{
  visibility:visible;
    width: 290px;
   height: 318px;
   display:flex;
 }
  .class1{
    top:90px;
  }
  .class2{
    top:90px;
  }
  .button{
    left:90px;
  }
}

.class1{
  width: 47px;
  height: 50px;
  position: absolute;
  top: 45%;
  left: 45%;
  margin: -25px 0 0 -25px;
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
html{
 background: #DDFFDD;
  height:240px;
}
img{
 width: 150px;
height: 60px;
}
.class2 {
  width: 850px;
  height: 50px;
  position: absolute;
  top: 56%;
  left:15%;
  margin: -25px 0 0 -25px;
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
 
@keyframes slideIn {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,100% {
    opacity: 1;
  }
}

.page-header{
  background:#E1E1E0;
  position: block;
 display: flex;
   width:1450px;
 justify-content: space-between;
}
  .a1{
  text-decoration: none;
    color: black;
    list-style: none;
}
.a2{
  text-decoration: none;
  color: black;
  list-style: none;
}
 .a3{
  text-decoration: none;
    color: black;
    list-style: none;
}
.a4{
  text-decoration: none;
  color: black;
  list-style: none;
}
  .a5{
  text-decoration: none;
  color: black;
  list-style: none;
}
  h1{
    font-size:40px;
    top:34%;
  }
.button{
  background: skyblue;
 color: white;
 width: 150px;
  height: 50px;
  position: absolute;
 padding: 25px;
  top: 23%;
  margin: -150px 20 20 -120px;
 border-radius: 12px;
}
#Home{
 width: 19px;
 height: 29px;
 visibility:visible
}
#Scratch{
 width:24px;
 height: 26px;
 visibility:visible
}

#Twitter{
 width: 25px;
 height:29px;
 visibility:visible
}
#Maze{
 width:12px;
 height:17px;
 visibility:visible
}
#search{
 width:17px;
 height:19px;
 visibility:visible
}

